#jmb{
  background-color: red;
  color: yellow;
}
.tbar {
  height: 800px;
  background-position: bottom;
  background-size: cover;
  position: relative;
  background-image:linear-gradient(black,white )
}

.mains {
  display: flex;
}